/*Code CSS pour l'input mail*/
/*Code CSS pour l'input mot de passe*/

.input-mail-full-width {
  width: 100%;
}

.password-input-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.password-input-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

/*Code CSS des entêtes*/

.entete_gauche{
	float: left;
	width: 50%;
	font-family: 'PT Serif', serif;
	/*background-color: red;*/
}

.entete_droite{
	float: right;
	width: 50%;
	font-family: 'PT Serif', serif;
  padding-bottom: 207px;
  /*background-color: blue;*/

}
